<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>login</title>
    {#引入bootstrap样式css文件#}
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<h2>用户登录</h2>
<form action="" method="post" style="margin-top: 60px;padding-top: 20px">
    {% csrf_token %}
    {% for log in login_obj %}
        <div class="form-group col-sm-4 col-sm-offset-3">
            <label for="{{ log.id_for_label }}">{{ log.label }}</label>
            {{ log }} {{ log.errors.0 }}
        </div>
    {% endfor %}
    <div class="form-group col-sm-4 col-sm-offset-3">
        <input type="submit" class="btn btn-success" value="登录">
    </div>
</form>

{#引入jQuery js文件#}
<script src="/static/jquery-3.3.1.js"></script>
{#引入bootstrap样式js文件#}
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>